#game, #templates {
    display: none;
}
#scoreboard {
    position: absolute;
}

#modal {
    position: absolute;
    width: 100%;
    height: 100%;
}

#box {
    max-width: 100%;
    width: 500px;
    margin: 100px auto 0 auto;
    padding: 20px;
    background-color: #FFF;
}

#backdrop {
    width: 100%;
    height: 100%;
    background-color: #333;
    opacity: 0.4;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
}
#button {
    margin: 25px auto;
}
#viewport {
    background-color: #fff;
}
.hidden {
    display: none;
}
* {
    margin: 0;
    padding: 0;
}
*:fullscreen, *:-webkit-full-screen, *:-moz-full-screen {
    background-color: rgba(255,255,255,0);
}
html, body {
    width:100%;
    height: 100%;
}